<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
    <script id="nurseryRhymeTemplate" type="text/x-handlebars-template"> Marry had a little <b>\{{animal}}</b>, its <b>\{{bodyPart}}</b> was <b>\{{adjective}}</b> as <b>\{{noun}}</b>.
    </script>
</head>
<body>
{{{body}}}
</body>
</html>